VITE_SUPABASE_URL=https://pwwlkgfrsjjazfnewuqi.supabase.co
VITE_SUPABASE_ANON_KEY=sb_publishable_iQfHKL6qGaz2xoScFkpxAQ_sXXd3Jaw
VITE_EMAILJS_SERVICE_ID=service_mfhbp03
VITE_EMAILJS_TEMPLATE_ID=template_l8bua86
VITE_EMAILJS_PUBLIC_KEY=jglDdjXpkUqUapbrW
